* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(170, 102, 14, 0.616), rgba(219, 12, 192, 0.651));
}

div {
    background-image: linear-gradient(90deg, yellow, magenta, orange);
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0 ,.35);
}

h1 {
    width: 80%;
    text-align: center;
    margin: 36px 0;
    border-radius: 10px;
}

form {
    margin-bottom: 32px;
    padding: 8px;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0 ,.35);
    background-color: #F2F2F2;
}

table {
    width: 80%;
    margin-bottom: 32px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0 ,.35);
    background-color: #F2F2F2;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
}